<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.map.fft"
	android:versionCode="1"
	android:versionName="1.0">
	<application
		android:name=".FFTApplication"
		android:icon="@drawable/icon"
		android:label="@string/app_name">
		<activity
			android:name=".FFTControlActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".FFTAlertActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action
					android:name="com.map.fft.intent.action.SIREN_END" />
			</intent-filter>
		</activity>
		<service
			android:name=".FFTListenerService" />
		<receiver android:enabled="true" android:name=".SirenStartReceiver">
			<intent-filter>
				<action
					android:name="com.map.fft.intent.action.SIREN_BEGIN" />
			</intent-filter>
		</receiver>
	</application>
	<uses-permission
		android:name="android.permission.RECORD_AUDIO"></uses-permission>
	<uses-permission
		android:name="android.permission.VIBRATE"></uses-permission>
	<uses-permission
		android:name="android.permission.WAKE_LOCK"></uses-permission>
</manifest>